body {
    padding: 50px;
    font-size: 16px;
    font-family: 'Dosis', sans-serif !important;
    letter-spacing: 0.7px;

    background: #2F3238;
    color: #EAEDE8;
    box-sizing: border-box;
}

a {
    color: #09ADC9;
}

.main {
    position: absolute;
    margin: 70px auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 3px;

}

.input {
    position: relative;
    z-index: 1;
    display: block;
    margin: auto;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
    border: 1px solid;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.2em;
    width: 60%;
    left: 23px;
    font-size: 20px;
    border: 2px #f0f0f0;
    border-radius: 10px !important;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    top: -12px;
    font-size: 15px;
    color: #EAEDE8;
    font-weight: bold;
    /*font-size: 70.25%;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;

}


.icon {
    color: #ddd;
    font-size: 150%;
}

/* Makiko */
.input--makiko {
    overflow: hidden;
    background: #2F3238;
}

.input__field--makiko {
    width: 100%;
    background: transparent;
    color: #000;
    z-index: 10;
    font-weight: 500;
}

.input__label--makiko {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    color: #EAEDE8;
}

.input__label--makiko::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    top: 53%;
    left: 10px;
    background: url(../images/search.svg) no-repeat center center;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.input__label-content--makiko {
    display: block;
    top: -2px;
    padding: 1.5em 0 0 2.75em;
    left: -4px;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--makiko:focus + .input__label--makiko::before,
.input--filled .input__label--makiko::before {
    -webkit-transform: scale3d(38, 38, 1);
    transform: scale3d(38, 38, 1);
}

.entitylist {
    display: block;
    position: relative;
    width: 400px;
    margin: 50px auto;

}


h1 {
    text-align: center;
    font-family: "Galada", sans-serif;
    margin-bottom: 38px;
}

h3 {
    text-align: center;
    font-size: 14px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 38px;
    color: #EAEDE8;
}

ul {
    list-style: none;
    padding: 0px;
    /*border: 1px solid;*/

}

ul li {
    margin: 3px 0;
    /*border: solid 1px;*/
    cursor: pointer;
    padding: 2px;

}

.type {
    /*float: right;*/
    /*color: darkgray;*/
    /*text-transform: capitalize;*/
    float: right;
    color: black;
    margin-left: 21px;
    font-size: 13px;
    font-style: inherit;
    font-weight: 600;
    margin-right: 14px;
    padding: 1px 6px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-transform: Capitalize;
    background-color: #EAEDE8;
}

.tip {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 12px;
    margin-left: 50px;
    color: #666;
}

.highlight {
    background-color: #fff;
    color: #2F3238;
}
